h1, h2, h3, h4, .navbar-brand {
    font-family: 'Cormorant Unicase', Georgia, Times, 'Times New Roman', serif;
}
h1 {
    font-weight: 600;
    border-left: 2px dotted #000;
    padding-left: 10px;
}

i {
    color: rgba(0,0,0,0.9);
    font-size: 24px;
}

hr {
    background: #777777;
    opacity: 0.2;
    height: 1px;
}

a {
    color: #1261a0;
}

a:not(.nav-link):hover {
    /* color: ; */
    opacity: 0.7;
}

.hide {
    opacity: 0;
}

.contain-body {
    background: #e7eff6;
}


/* NAVIGATION */

.contain-nav {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    border-bottom: 2px solid #2a4d69;
    padding: 1rem 1rem;
}

.bg-light {
    /* background-color: #fff !important; */
    background-color: #4b86b4 !important;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.4px;
    color: white !important;
}

.nav-link {
    color: white !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler i {
    color: white !important;
}

.navbar-toggler:focus {
    outline: none;
}

.footer {
/* background-color: #f5f5f5 !important; */
    background-color: #adcbe3 !important;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (min-width: 576px) {
    .footer {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .footer {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .footer {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .footer {
        max-width: 1140px;
    }
}




/* PORTFOLIO PAGE / CARDS */
.card-img-top {
    object-fit: cover;
    width: 18rem;
    height: 18rem;
}

.card-body {
    position: absolute;
    bottom: 10px;
    color: white;
    background: #1261a0;
    width: 100%;
    padding: 1rem;
}

.card-body > h5 {
    margin-bottom: 0;
}

.card {
    /* width: 19rem; */
}

.card:hover {
    box-shadow: 3px 2px 7px rgba(0,0,0,0.3);
}

.card:hover > a > img {
    opacity: 0.7;
}

/* when image doesn't work centered, left align it */
.image-left { 
    object-position: 0% 50%;
}


.overlay {
    position: absolute;
    top: 24%;
    text-align: center;
    left: 12%;
    background: darkgray;
    padding: 30px;
    transition: all 0.4s ease;
}

.overlay > a:first-of-type {
    margin-bottom: 20px;
}

.overlay > a {
    display: block;
}

.fa-code {
    margin-right: 10px;
    vertical-align: middle;
    color: #1261a0;
}

.fa-satellite-dish {
    margin-right: 20px;
    vertical-align: middle;
    color: #1261a0;
}

.port-link {
    vertical-align: middle;
}



/* CONTACT PAGE */

.contact-box {
    background: #1261a0;
    padding: 15px 10px;
    width: 200px;
    /* width: 250px; */
    margin: 10px;
}

.contact-box > i, .contact-box > span {
    vertical-align: middle;
    color: white;
    /* color: black; */
}

.contact-box > i {
    margin-right: 10px;
}

.box:hover {
    opacity: 0.8;
}

input::placeholder {
    color: #495057;
    opacity: 0.6 !important;
}

.btn-primary {
    background: #1261a0;
    border-color: #1261a0;
}

.btn-primary:hover {
    background: #3895d3;
    border-color: #3895d3;
}


/* ABOUT PAGE */

.profile-picture {
    border-radius: calc(.25rem - 1px);
}

.about-links {
    letter-spacing: 1px;
    font-weight: bold;
}

.about-icons i {
    font-size: 35px;
}

.col-md-1 {
    width: auto;
}